body {
    font-family: arial,sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#navigation {
    align-self: flex-end;
    margin-right: 5vw;
    margin-top: 5vh;
}


#navigation > a {
    background-color: #4d90fe;
    border: none;
    width: 10vw;
    padding: 8px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 2px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

#navigation > a:hover {
    cursor: pointer;
    background-color: #2e7bf7;

}

#adv-search-form {
    display: flex;
    flex-direction: column;   
    margin: 5vh;
    width: 70vw;
    gap: 1.5vh;
}

.adv-params {
    width: 40vw;
}

.adv-search-label {
    width: 18vw;
}

.input-label-div {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

#adv-search-btn {
    background-color: #4d90fe;
    border: none;
    width: 10vw;
    padding: 8px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 2px;
    align-self: flex-end;
    margin-right: 11vw;
    margin-top:  3vh;
}

#adv-search-btn:hover {
    background-color: #2e7bf7;
    cursor: pointer;
}

#adv-header {
    color:#d93025;
    font-size: 20px;
    font-weight: lighter;
    width: 100vw;
    border-bottom: 0.1px solid rgb(226, 224, 224);
    padding: 0 2vw 4vh 5vh;
}

#find-pages-header {
    margin-left: 5vh;
    font-weight: lighter;
    margin-top: 2vh;
}

#google-logo-small{
    width: 75px;
    height: 25px;
    margin: -5vh 0 8vh 1.5vw;
}